<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Create Service Infra</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ent_name</name>
          <description>Please provide the Enterprise Name</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>app_node_count</name>
          <description>Number of Application Nodes</description>
          <defaultValue>1</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>db_node_count</name>
          <description>Number of DB node counts</description>
          <defaultValue>1</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>service_name</name>
          <description>Service Name </description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>service_version</name>
          <description>Version of the Service</description>
          <defaultValue>latest</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>instance_type</name>
          <description>Type of AWS Instances</description>
          <defaultValue>t2.micro</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.ansible.AnsiblePlaybookBuilder plugin="ansible@217.v1696cee03265">
      <playbook>/deployment/ansible/playbooks/memc/create-service-infra.yml</playbook>
      <inventory class="org.jenkinsci.plugins.ansible.InventoryPath">
        <path>/deployment/ansible/playbooks/memc/inventory</path>
      </inventory>
      <limit></limit>
      <tags></tags>
      <skippedTags></skippedTags>
      <startAtTask></startAtTask>
      <credentialsId></credentialsId>
      <vaultCredentialsId></vaultCredentialsId>
      <become>false</become>
      <becomeUser></becomeUser>
      <sudo>false</sudo>
      <sudoUser></sudoUser>
      <forks>5</forks>
      <unbufferedOutput>true</unbufferedOutput>
      <colorizedOutput>false</colorizedOutput>
      <disableHostKeyChecking>false</disableHostKeyChecking>
      <additionalParameters>-vv</additionalParameters>
      <copyCredentialsInWorkspace>false</copyCredentialsInWorkspace>
      <extraVars>
        <org.jenkinsci.plugins.ansible.ExtraVar>
          <key>ent_name</key>
          <secretValue>{AQAAABAAAAAQ/KSZfEFbuygkXCv/oHd+B9OoUJRDfm8w2f864vmQmuY=}</secretValue>
          <hidden>false</hidden>
        </org.jenkinsci.plugins.ansible.ExtraVar>
        <org.jenkinsci.plugins.ansible.ExtraVar>
          <key>app_node_count</key>
          <secretValue>{AQAAABAAAAAgKezCC2/HAoASAf4xpwr/+ZqxcVenbNoXEgy0iC55hLWMbQo5+gbHj2q8tdDdY9C+}</secretValue>
          <hidden>false</hidden>
        </org.jenkinsci.plugins.ansible.ExtraVar>
        <org.jenkinsci.plugins.ansible.ExtraVar>
          <key>db_node_count</key>
          <secretValue>{AQAAABAAAAAgZvcrQSqfZRvFaLnCLMjDE3XUZxu62cYTy86SqGMD7k06/DnvqIh2vC/ZhliTeLLg}</secretValue>
          <hidden>true</hidden>
        </org.jenkinsci.plugins.ansible.ExtraVar>
        <org.jenkinsci.plugins.ansible.ExtraVar>
          <key>service_name</key>
          <secretValue>{AQAAABAAAAAQ8FiBAYPPlbEUcoynsV3gi+BJTkd7xGrQfCsuK+Fk3GE=}</secretValue>
          <hidden>false</hidden>
        </org.jenkinsci.plugins.ansible.ExtraVar>
        <org.jenkinsci.plugins.ansible.ExtraVar>
          <key>service_version</key>
          <secretValue>{AQAAABAAAAAgNXCWCQxEbCJSrQaFUQmBUQxGufHVzY0N0cSXl/lJNjvauagIy8drF2mRTl+7zC+s}</secretValue>
          <hidden>false</hidden>
        </org.jenkinsci.plugins.ansible.ExtraVar>
        <org.jenkinsci.plugins.ansible.ExtraVar>
          <key>instance_type</key>
          <secretValue>{AQAAABAAAAAgDcEsG4TYn75JMm1AndJ7RbOw5XirOjhZp2AUsc4CVDJB2ibTDElmMq05kNcvaoFj}</secretValue>
          <hidden>false</hidden>
        </org.jenkinsci.plugins.ansible.ExtraVar>
      </extraVars>
    </org.jenkinsci.plugins.ansible.AnsiblePlaybookBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>